//font colors
$greyFontColor: #333;
$whiteFontColor: #ffffff;
$linkColor: rgb(78, 78, 199);

//background colors
$lightGreyFontColor: #666;
$lightBackgroundColor: #f9f9f9;
$heroBackgroundColor: #282c34;
$socialBackgroundColorHover: #61dafb;
$skillsBackgroundColor: #f3f3f3;

//shadows
$shadowColor: rgba(0, 0, 0, 0.1);
