* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;

  a {
    color: rgb(78, 78, 199);
    text-decoration: none;
  }
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #282c34;
  color: #ffffff;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.socialIcons a {
  color: #ffffff;
  font-size: 1.5em;
  margin: 0 10px;
}

.socialIcons a:hover {
  color: #61dafb;
}

.about {
  text-align: center;
  margin: 50px 0;
}

.profilePhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.1em;
  color: #666;
}

.projects {
  margin: 50px 0;
  text-align: center;
}

.projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.project-slide {
  padding: 20px;
  text-align: center;
}

.projectImage {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-slide h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.project-slide p {
  font-size: 1em;
  color: #555;
}

.skills {
  text-align: center;
  margin: 50px 0;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background: #f3f3f3;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1em;
}

.projectCard {
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projectCard:hover {
  transform: translateY(-5px) !important;
}

.projectCard h3 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 5px;
}

.projectCard p {
  font-size: 1em;
  color: #555;
}
